<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="lib/nunjucks.min.js"></script>
        <link rel="stylesheet" href="lib/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/todo.css">
        <script src='js/bananas.js'></script>
        <script src='lib/fastclick.js'></script>
        <script src='js/ajax.js'></script>
        <script src='js/login.js'></script>
        <script src='js/header.js'></script>
        <script src='js/todo.js'></script>
        <script src='js/alert.js'></script>
        <script src='js/main.js'></script>
        <link rel="stylesheet" href="/css/calendar.css">
        <script src="lib/sweetalert/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="lib/sweetalert/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="/css/alertgua.css">
        <script src='js/calendar.js'></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                // 引入 FastClick
                FastClick.attach(document.body);
                // do work
                __main()
                // alertGua()
            })
        </script>
    </head>
    <body>
        <!-- header -->
        <div class="header">
            <span class='home'>我的</span>
            <span class='login-exit'>退出</span>
        </div>
        <div class="header-blank"></div>

        <!-- Project -->
        <div class="project-main hide">
            <!-- project 输入框 -->
            <div class="project-form">
                <input class="hide" id='id-input-project' type="text"  placeholder="新建工程">
                <!-- <button class="hide" id='id-button-project-add'>添加</button> -->
                <button id="id-button-project-add" class="btn btn-default">添加新工程</button>
            </div>
            <!-- Project 列表 -->
            <div id="id-project-container">

                <!-- <div class="project-item" data-id='10'>
                    <div class="project-header">
                        <span class="project-name">node 工程</span>
                        <span class="proj-button-group">
                            <button class='proj-done'>完成</button>
                            <button class='proj-delete'>删除</button>
                            <button class='proj-edit'>编辑</button>
                        </span>
                        <span class="cannot-select show-more show-open"> < </span>
                    </div>
                    <div class="project-item-container">
                        <div class="todo-add">
                            <input class='input-todo' placeholder="请输入新任务">
                            <input type="date" class="remind-time">
                            <button class="button-add-todo">添加</button>
                        </div>
                        <div class="project-todos">
                            <div class='todo-cell'>
                                <span class='todo-content'>
                                    <span class='todo-task' contenteditable='false'>吃饭饭</span>
                                    <span class='task-time'>17/3/23</span>
                                </span>
                                <span class='todo-cell-button-group'>
                                    <button class='todo-done'>完成</button>
                                    <button class='todo-delete'>删除</button>
                                    <button class='todo-edit'>更新</button>
                                </span>
                            </div>
                            <div class='todo-cell'>
                                <span class='todo-content'>
                                    <span class='todo-task' contenteditable='false'>喝水水</span>
                                    <span class='task-time'>17/3/23</span>
                                </span>
                                <span class='todo-cell-button-group'>
                                    <button class='todo-done'>完成</button>
                                    <button class='todo-delete'>删除</button>
                                    <button class='todo-edit'>更新</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
        <!-- Project -->

        <!-- 日历 -->
        <div class="date" id="calendar"></div>


        <!-- <div class="todo-info">
            <div class="title">
                吃饭
            </div>
            <div class="time">
                创建时间: 17/4/5 6:00
            </div>
            <input type="datetime-local" name="" value="">
        </div> -->

        <!-- <div class="alert-gua">
            <div class="alert-header">
                <button class="alert-back btn btn-default glyphicon glyphicon-remove"></button>
                <span class="alert-title">任务详情</span>
            </div>
            <div class="alert-container">
                <form class="">
                    <div class="">
                        任务名:
                        <span class="altet-strong">开会</span>
                    </div>
                    <div class="">
                        提醒时间:
                        <span class="altet-strong">2017-4-17 15:00</span>
                    </div>
                    <div class="alert-comment">
                        评论:
                        <div class="">
                            <span class="">888:</span>
                            <span>请大家准时开会</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="alert-footer">
                <button class="alert-button btn btn-default">添加评论</button>
            </div>
        </div> -->

        <!--  footer -->
        <div class="footer-blank"></div>
        <div class="footer"></div>

    </body>
</html>
