<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/todo.css">
        <script src='js/bananas.js'></script>
        <script src='js/ajax.js'></script>
        <script src='js/login.js'></script>
        <script src='js/header.js'></script>
        <script src='js/todo.js'></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                // do work
                // __mainTodo()
                __mainLogin()
                __mainHeader()
            });
        </script>
    </head>
    <body>
        <!-- header -->
        <div class="header">
            <span class='login-exit'>退出</span>
        </div>

        <!--  Todo -->
        <div class="todo-main">
            <!-- todo 输入框 -->
            <div class="todo-form">
                <input id='id-input-todo' type="text"  placeholder="请输入任务">
                <button id='id-button-add' disabled>添加</button>
            </div>
            <!-- todo 列表 -->
            <div id="id-div-container">

            </div>
        </div>
        <!--  Todo -->

        <!--  footer -->
        <div class="footer">

        </div>

        <!-- <button class='css_button' name="button">提交</button> -->
    </body>
</html>
