* {
    margin: 0;
}

/* 完成 todo */
.done {
    color: gray;
    text-decoration: line-through;
}

.todo-main {
    text-align: center;
}

.todo-form {
    margin: 1rem;
}

#id-div-container {
    text-align: left;
}

.task-time {
    color: gray;
}
