html,
body {
  font: 400 14px/1.5 Tahoma, Helvetica, arial, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
#calendar,
#calHead,
#calDays,
.week,
#calDays .day {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#calendar,
#calDays {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#prevMonth,
#nextMonth,
.week > div,
#calDays .day > div {
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 ;
  text-align: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
}
#calendar {
  min-height: calc(100% - 4rem - 3rem);
}
#calHead,
.week {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-color: #2bb8aa;
  font-size: 1.5em;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}
#calHead > div {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.week > div,
#calDays {
  padding-bottom: 10px;
  padding-top: 10px;
  height: auto;
}
#calDays {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
}
#calDays .day {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 auto;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: stretch;
}
#calDays .day span {
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  display: inline-block;
}
.beside {
  color: #d9d9d9;
}
.daySelected {
  background-color: #2bb8aa;
  color: #fff;
  border-radius: 50%;
}
.today {
  background-color: #d9d9d9;
  color: #2bb8aa;
  border-radius: 50%;
}

.msg {
    position: relative;
}

.msg::after {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.5rem;
    color: white;
}

.msg1::after {
    content: '1';
    background: #8cb581;
}

.msg2::after {
    content: '2';
    background: #8cb581;
}


.msg3::after {
    content: '3';
    background: #8cb581;
}

.msg4::after {
    content: '14';
    background: #8cb581;
}

.msg5::after {
    content: '5';
    background: #8cb581;
}

.msg5::after {
    content: '5';
    background: #8cb581;
}

.msg6::after {
    content: '6';
    background: #8cb581;
}

.msg7::after {
    content: '7';
    background: #8cb581;
}

.msg8::after {
    content: '8';
    background: #8cb581;
}

.msg9::after {
    content: '9';
    background: #8cb581;
}

.msg10::after {
    content: '10';
    background: #8cb581;
}

.msg11::after {
    content: '11';
    background: #8cb581;
}

.msg12::after {
    content: '12';
    background: #8cb581;
}

.msg13::after {
    content: '13';
    background: #8cb581;
}

.msg14::after {
    content: '14';
    background: #8cb581;
}

.msg15::after {
    content: '15';
    background: #8cb581;
}

.msg16::after {
    content: '16';
    background: #8cb581;
}
.msgn::after {
    content: 'n';
    background: #8cb581;
}
