* {
    margin: 0;
}

/* 完成 todo */
.done {
    color: gray;
    text-decoration: line-through;
}

.todo-main {
    text-align: center;
}

.todo-form {
    margin: 1rem;
}

#id-div-container {
    text-align: left;
}

.task-time {
    color: gray;
}

/* todo-login */
.todo-login {
    font-size: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
    position: absolute;
    top: 0rem;
}

.todo-login * {
    display: inline-block;
}

.todo-login-form {
    background: white;
    min-height: 6rem;
    width: 12rem;
    z-index: 200;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.todo-login-form > *{
    width: 100%;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
}

.todo-login-buttons {
    font-size: 0rem;
    height: 2rem;
}

.todo-login-button {
    width: 50%;
    height: 100%;
    border-radius: 0rem;
}

.todo-login-content {
    background: white;
    line-height: 3rem;
}

/* login error input animation*/
.errorInput {
    animation: 0.1s shake 3 alternate;
    box-shadow: 0px 0px 2rem red;
    outline: #fb5555 1px solid;
}

@keyframes shake {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(5%);
    }
}
