* {
    margin: 0;
}

body {
    height: 100vh;
}

.hide {
    display: none !important;
}

.cannot-select {
    user-select: none;
    -webkit-user-select: none
}

/* todo-login */
.todo-login {
    font-size: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    position: absolute;
    top: 0rem;
}

.todo-login * {
    display: inline-block;
}

.todo-login-form {
    background: white;
    min-height: 6rem;
    width: 12rem;
    z-index: 200;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8%;
}

.todo-login-form > * {
    width: 100%;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
}

.todo-login-buttons {
    font-size: 0rem;
    height: 2rem;
}

.todo-login-button {
    width: 50%;
    height: 100%;
    border-radius: 0rem;
}

.todo-login-content {
    background: white;
    line-height: 3rem;
}

/* login error input animation*/
.errorInput {
    animation: 0.1s shake 3 alternate;
    /*box-shadow: 0px 0px 2rem red;*/
    outline: #fb5555 1px solid;
    border: 0rem;
    box-shadow: 0px 0px 2rem #F00808;
    -webkit-box-shadow: 0px 0px 2rem #F00808;
    -moz-box-shadow: 0px 0px 2rem #F00808;
}

@keyframes shake {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(5%);
    }
}

/* login exit*/

/*  header */
.header {
    background: black;
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-blank {
    height: 4rem;
}

.home,
.login-exit {
    display: inline-block;
    line-height: 2rem;
    width: 4rem;
    background: white;
    text-align: center;
    margin: 1rem;
    border-radius: 8%;
    box-sizing: border-box;
    padding: 0.1rem;
}

.home {
    float: left;
}

.login-exit {
    float: right;
}

.login-exit:hover {
    background: #cacaca;
}

.login-exit:active {
    background: black;
}

.login-exit-touches {
    background: black !important;
}


/* header end */

/*footer*/
.footer {
    background: black;
    height: 3rem;
    position: fixed;
    width: 100%;
    bottom: 0rem;
    bottom: 0%
}

.footer-blank {
    height: 3rem;
}

/*  project-main */
.project-form {
    text-align: center;
    line-height: 3rem;
    background: #a7a7a7;
}

.project-item {
    background: #eeeded;
    padding: 1rem;
    border-radius: 14px;
}

.project-item + .project-item {
    margin: 1rem 0.2rem;

}

.project-header {
    position: relative;
    height: 3rem;
    background: #414141;
}

.project-name {
    display: inline-block;
    color: white;
    line-height: 3rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.proj-button-group {
    display: inline-block;
}

.show-more {
    display: inline-block;
    position: absolute;
    right: 5%;
    width: 2rem;
    line-height: 3rem;
    top: 0%;
    color: white;
    transition: transform 0.3s;
    text-align: center;
    font-family: cursive;
}

.show-open {
    transform: rotateZ(-90deg);
}

.project-item-container {
    transition: 0.3s height;
    overflow: hidden;
}

.hide-height {
    height: 0 !important;
}

.todo-add > .input-todo {
    width: 10rem;
}

.todo-add > .remind-time {
    width: 8rem;
}

.project-todos {

}

.todo-cell {
    margin-left: 1rem;
    line-height: 3rem;
}

.todo-cell + .todo-cell {
    border-top: 1px lightgray solid;
}

.todo-cell-button-group {
    float: right;
}

/* 完成 todo */
.done {
    color: gray;
    text-decoration: line-through;
}

.task-time {
    color: gray;
}

.todo-task {
    text-align: right;
}

.todo-add {
    text-align: center;
    line-height: 2rem;
}

.strong {
    font-weight: 900;
    color: black;
}

.small {
    font-size: small;
    color: #6b6b6b;
}

.strong  .task-time,
.small  .task-time {
    float: right;
}
